[submodule "WeatherApp-v2-Server"]
	path = WeatherApp-v2-Server
	url = https://github.com/Shahed1998/WeatherApp-v2-Server.git
[submodule "WeatherApp-v2-Client"]
	path = WeatherApp-v2-Client
	url = https://github.com/Shahed1998/WeatherApp-v2-Client.git
